p {
    margin: 2px 0;
}

.container-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-btn .btn-c {
    width: 45px;
    padding: 6px 8px;
    font-weight: 600;
    font-size: 15px;
    margin: 0 5px;
    outline: none
}