.card {
    border-radius: 5px;
    overflow: hidden;
    border: 3px solid ;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.137);
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.card .title {
    color: white;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 0;
    
}

.card .content {
    color: #30475E;
    padding: 10px;
    font-weight: 500;
    flex: 1;
}